

.head {
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

<<<<<<< HEAD
p{
    color: red;
    font-size: 20px;
}

p:hover{
    color: blueviolet;
    font-size: 47px;
=======
.navbar{
    width:100vw;
    background-color:rgb(49, 49, 49);
    text-align: center;
    position: fixed;
    top:0;
>>>>>>> 6d8a474b6542492ef4222d7b4af529d3b428e95d
}